@use 'base/variables' as v;
@use 'base/mixins' as m;

body {
    background-color: black;
}

.nosotros{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    
}

.personal{
    border-radius: 30px;
    
   
}

.info-personal{
    padding: 15px 30px;
    line-height: 2;
    display: flex;
    flex-direction: column;
    gap: 10px;
    
}
